
.theme-blue {
    background-color: #ccefff;
    text-align: center;
    color: blue;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: large;
}
.theme-green {
    background-color: #e6faef;
    text-align: center;
    color: blue;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: large;
}
.theme-lilac {
    background-color: #e6e6fa;
    text-align: center;
    color: blue;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: large;
}
.theme-peach {
    background-color: #ffedcc;
    text-align: center;
    color: blue;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: large;
}
.theme-pink {
    background-color: #fae6e6;
    text-align: center;
    color: blue;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: large;
}
.theme-yellow {
    background-color: #ffffe0;
    text-align: center;
    color: blue;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-size: large;
}
#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8,
#div9,
#div10 {
    width: 100%;
    margin: 0px auto;
    height: 20px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
